{% extends "main.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="col-sm-12"><h1>Book Catalog</h1><p>Library catalog systems</p></div>
        {%if 'username' not in session %}
            <a href="{{url_for('showLogin')}}">
                <h4 class="log text-right">Login</h4></a>
        {% else %}
            <a href="{{url_for('gdisconnect')}}">
                <h4 class="text-right">Disconnect</h4></a>
        {% endif %}
    </div>

    <div class="well">
        {%if 'username' in session %}
            <p style="color:green;" class="user-name text-right">
                Logged as {{session['username']}}
            </p>
        {% endif %}
    </div>

    <div class="p-5 row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="jumbotron">
                <h4 class="text-center">Category : {{category_name}} <br/></h4>
                    <form action="#" method = "post">
                        <div class="form-group">
                            <label>Title</label><br/>
                            <input type ="text" class="form-control" maxlength="150" name="name" value = "" >
                            <label>Author</label><br/>
                            <input type ="text" class="form-control" maxlength="150" name="author" value = "">
                            <label>Description</label>
                            <textarea class="form-control" rows="5" id="comment" name="description"></textarea>
                           </div>
                        <br/>
                        <button type="submit" class="btn btn-default" id="submit">
                            Add Book
                        </button>
                    </form>
            </div>
            <ul class="pager">
                <li class="previous">
                    <a href="{{url_for('showItems', category_id = category_id )}}">
                        <h4>Return</h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
