<!DOCTYPE html>
<html lang="en">
<head>
  <title>Catalog App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Book Catalog</h1>
            <p>Library catalog systems</p>
        </div>

        <div class="well">
            <h4 class="text-right">Login</h4>
        </div>

        <div class = 'flash'>
        		      {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul>
                {% for message in messages %}
                    <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </div>

        <div class="p-5 row">
            <div class="col-sm-4">
                <div class="btn-group btn-group-justified">
                    <a href="{{url_for('newCategory')}}" class="btn btn-default">ADD</a>
                    <a href="#" class="btn btn-default">EDIT</a>
                    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#myModal">DELETE</a>
                </div>
            </br>
            <div class="list-group">
                {% for category in catalog %}
                    {% if index == category.id  %}
                        <a href="{{url_for('showItems', category_id = category.id )}}"
                        class="list-group-item active"><h5>{{category.name}}</h5></a>
                    {% else %}
                        <a href="{{url_for('showItems', category_id = category.id )}}"
                        class="list-group-item"><h5>{{category.name}}</h5></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="col-sm-8">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Title (click on the book for description)</th>
                    <th>Author</th>
                  </tr>
                </thead>
                <tbody>
                    {% if categoryItems != null %}
                        {% for i in categoryItems %}
                        <tr>
                            <td><a href="{{url_for('showDescription', category_id = i.category_id, book_id=i.id)}}" data-toggle="tooltip" title="Click for description">{{i.name}}</a></td>
                            <td>{{i.author}}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endif %}
                </tbody>
              </table>
              <a href="#" class="btn btn-default" role="button">Add Book</a>
      </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete Category</h4>
          </div>
          <div class="modal-body">
            <p>WARNING : Delete will erase category {{catalog[index-1].name}}
                with all the books stored in it </p>
          </div>
          <div class="modal-footer">
              <form class="form-inline" action="{{url_for('deleteCategory', category_id = index )}}"  method = "post">
                  <button type="submit" class="btn btn-danger" id="submit" type="submit">Delete</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Return</button>
              </form>
          </div>
      </div>

      </div>
    </div>


<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
</body>
</html>
