<!DOCTYPE html>
<html lang="en">
<head>
  <title>Catalog App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Book Catalog</h1>
            <p>Library catalog systems</p>
        </div>

        <div class="well">
            <h4 class="text-right">Login</h4>
        </div>

            <div class="p-5 row">
                <div class="col-sm-3">
                    <h4>Categories</h4>
                    <div class="list-group">
                        {% for category in catalog %}
                            {% if categoryItems == null or category.id == categoryItems[0].category_id %}
                                <a href="{{url_for('showItems', category_id = category.id )}}"
                                class="list-group-item active">{{category.name}}</a>
                            {% else %}
                                <a href="{{url_for('showItems', category_id = category.id )}}"
                                class="list-group-item">{{category.name}}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

        <div class="col-sm-9">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Author</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in categoryItems %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.author}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
      </div>


    </div>

</body>
</html>
